In [15]:
import pandas as pd
import numpy as np

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
dfGYE = pd.read_csv('/content/drive/MyDrive/Proyecto Introduccion a la Ciencia de Datos/data/OLXGYE.csv')
dfQUI = pd.read_csv('/content/drive/MyDrive/Proyecto Introduccion a la Ciencia de Datos/data/OLXQUI.csv')

In [18]:
dfGYE['precio'] = dfGYE['precio'].str.replace('$','',regex = False)
dfQUI['precio'] = dfQUI['precio'].str.replace('$','',regex = False)

In [19]:
dfGYE['mt2'] = dfGYE['mt2'].str.replace('m²','')
dfGYE['mt2'] = dfGYE['mt2'].str.replace('Totales','')
dfGYE['mt2'] = dfGYE['mt2'].str.replace('-','')
dfGYE['mt2'] = dfGYE['mt2'].str.replace('Desde','')
dfGYE['mt2'] = dfGYE['mt2'].str.replace('Superficie del terreno (): ','',regex = False)
dfGYE['mt2'] = dfGYE['mt2'].str.replace(' ','',regex = False)

dfQUI['mt2'] = dfQUI['mt2'].str.replace('m²','')
dfQUI['mt2'] = dfQUI['mt2'].str.replace('Totales','')
dfQUI['mt2'] = dfQUI['mt2'].str.replace('-','')
dfQUI['mt2'] = dfQUI['mt2'].str.replace('Desde','')
dfQUI['mt2'] = dfQUI['mt2'].str.replace('Superficie del terreno (): ','',regex = False)
dfQUI['mt2'] = dfQUI['mt2'].str.replace(' ','',regex = False)

In [20]:
dfGYE = dfGYE.loc[dfGYE['mt2'].str.isdigit()]
dfQUI = dfQUI.loc[dfQUI['mt2'].str.isdigit()]

In [21]:
dfGYE = dfGYE.loc[dfGYE['precio'] != 'Nada']
dfQUI = dfQUI.loc[dfQUI['precio'] != 'Nada']

In [22]:
dfGYE['precio'] = dfGYE['precio'].str.replace('.','',regex = False)
dfQUI['precio'] = dfQUI['precio'].str.replace('.','',regex = False)

In [23]:
dfGYE['precio'] = dfGYE['precio'].astype('int64')
dfQUI['precio'] = dfQUI['precio'].astype('int64')
dfGYE['mt2'] = dfGYE['mt2'].astype('int64')
dfQUI['mt2'] = dfQUI['mt2'].astype('int64')

In [35]:
dfGYE['latitud'] = dfGYE['ubicacion'].str.replace('https://www.google.com/maps/@','').str.split(',',expand = True)[0]
dfGYE['longitud'] = dfGYE['ubicacion'].str.replace('https://www.google.com/maps/@','').str.split(',',expand = True)[1]

dfQUI['latitud'] = dfQUI['ubicacion'].str.replace('https://www.google.com/maps/@','').str.split(',',expand = True)[0]
dfQUI['longitud'] = dfQUI['ubicacion'].str.replace('https://www.google.com/maps/@','').str.split(',',expand = True)[1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [36]:
set(dfGYE['Descripcion_2'])

{'Bodega en venta en Centro De Guayaquil',
 'Bodega en venta en Garzota',
 'Bodega en venta en Guayaquil',
 'Bodega en venta en Juan Tanca Marengo',
 'Bodega en venta en Kennedy Norte',
 'Bodega en venta en Norte De Guayaquil',
 'Bodega en venta en Samanes',
 'Bodega en venta en Sur De Guayaquil',
 'Bodega en venta en Via A La Costa',
 'Bosques De Los Ceibos',
 'Casa en venta en Alborada',
 'Casa en venta en Barrio Centenario',
 'Casa en venta en Bellavista',
 'Casa en venta en Centro De Guayaquil',
 'Casa en venta en Ciudad Celeste',
 'Casa en venta en El Morro',
 'Casa en venta en Francisco de Orellana',
 'Casa en venta en Garzota',
 'Casa en venta en Guayaquil',
 'Casa en venta en Isla Mocolí',
 'Casa en venta en Kennedy Norte',
 'Casa en venta en Miraflores',
 'Casa en venta en Norte De Guayaquil',
 'Casa en venta en Puerto Santa Ana',
 'Casa en venta en Samanes',
 'Casa en venta en Samborondon',
 'Casa en venta en Santa Cecilia',
 'Casa en venta en Sauces',
 'Casa en venta en Sur De Guayaquil',
 'Casa en venta en Urdesa central',
 'Casa en venta en Via A La Costa',
 'Casa en venta en Álamos Norte',
 'Ceibos Point',
 'Ciudad Milenium · Vía Aurora, diagonal al C.C. El Dorado, Samborondón',
 'Costalmar 2',
 'Departamento en venta en Arawá · Km 7.5 Vía a Playas - Engabao',
 'Departamento en venta en Barrio Centenario',
 'Departamento en venta en Bellavista',
 'Departamento en venta en Centro De Guayaquil',
 'Departamento en venta en Garzota',
 'Departamento en venta en Guayaquil',
 'Departamento en venta en Isla Mocolí',
 'Departamento en venta en Kennedy Norte',
 'Departamento en venta en Las Cumbres',
 'Departamento en venta en Miraflores',
 'Departamento en venta en Norte De Guayaquil',
 'Departamento en venta en Puerto Santa Ana',
 'Departamento en venta en Samanes',
 'Departamento en venta en Samborondon',
 'Departamento en venta en Sauces',
 'Departamento en venta en Sur De Guayaquil',
 'Departamento en venta en Urdesa central',
 'Departamento en venta en Via A La Costa',
 'Edificio Tripoli',
 'El Lago de Capeira · Km. 23 Vía Daule, junto al Bosque Protector Bosquería',
 'Finca en venta en Guayaquil',
 'Finca en venta en Norte De Guayaquil',
 'Finca en venta en Via A La Costa',
 'Galerias Terranostra · KM 13-14, Vía La Costa, Guayaquil.',
 'Giardini',
 'Inmueble en venta en Bellavista',
 'Inmueble en venta en Centro De Guayaquil',
 'Inmueble en venta en Guayaquil',
 'Inmueble en venta en Kennedy Norte',
 'Inmueble en venta en Norte De Guayaquil',
 'Inmueble en venta en Portete y Tungurahua 3000',
 'Inmueble en venta en Samborondon',
 'Inmueble en venta en Sur De Guayaquil',
 'Inmueble en venta en Urdesa central',
 'LA RIOJA - ETAPA CANARIA · Km 17. Avenida León Febres Cordero, Parroquia La Aurora',
 'LA RIOJA - ETAPA LA MANCHA · Km 17. Avenida León Febres Cordero, Parroquia La Aurora',
 'La Provenza River View',
 'Local en venta en Bellavista',
 'Local en venta en Centro De Guayaquil',
 'Local en venta en Ciudad Celeste',
 'Local en venta en Garzota',
 'Local en venta en Guayaquil',
 'Local en venta en Kennedy Norte',
 'Local en venta en Norte De Guayaquil',
 'Local en venta en Puerto Santa Ana',
 'Local en venta en Samanes',
 'Local en venta en Samborondon',
 'Local en venta en Sur De Guayaquil',
 'Local en venta en Urdesa central',
 'Local en venta en Via A La Costa',
 'Lote en venta en Bellavista',
 'Lote en venta en Centro De Guayaquil',
 'Lote en venta en Ciudad Celeste',
 'Lote en venta en El Morro',
 'Lote en venta en Garzota',
 'Lote en venta en Guayaquil',
 'Lote en venta en Inmaconsa',
 'Lote en venta en Kennedy Norte',
 'Lote en venta en Las Cumbres',
 'Lote en venta en Miraflores',
 'Lote en venta en Norte De Guayaquil',
 'Lote en venta en Puerto Santa Ana',
 'Lote en venta en Samanes',
 'Lote en venta en Samborondon',
 'Lote en venta en Sur De Guayaquil',
 'Lote en venta en Urdesa central',
 'Lote en venta en Via A La Costa',
 'Lote en venta en Vía a Daule La Aurora',
 'Metropolis 2',
 'Mónaco',
 'Oficina/Consultorio en venta en Centro De Guayaquil',
 'Oficina/Consultorio en venta en Garzota',
 'Oficina/Consultorio en venta en Guayaquil',
 'Oficina/Consultorio en venta en Kennedy Norte',
 'Oficina/Consultorio en venta en Norte De Guayaquil',
 'Oficina/Consultorio en venta en Puerto Santa Ana',
 'Oficina/Consultorio en venta en SOHO 360 Smart Office, Home Office - Consultorios · Puerto Santa Ana',
 'Oficina/Consultorio en venta en SOHO 360 Smart Office, Home Office - Oficinas · Puerto Santa Ana',
 'Oficina/Consultorio en venta en Samanes',
 'Oficina/Consultorio en venta en Samborondon',
 'Oficina/Consultorio en venta en Urdesa central',
 'Parqueadero en venta en Centro De Guayaquil',
 'Parqueadero en venta en Guayaquil',
 'Parqueadero en venta en Norte De Guayaquil',
 'Portón de los Ceibos',
 'SOHO 360 Smart Office, Home Office - Consultorios · Puerto Santa Ana',
 'SOHO 360 Smart Office, Home Office - Oficinas · Puerto Santa Ana',
 'Santa Fe Tower · Av. Rodrigo Chávez Mz. 277 Solar 4. Urbanización Ciudad Colón, Guayaquil',
 'Santana Loft',
 'Terranostra Departamentos · Km 14, Vía La Costa, Guayaquil.',
 'Torre 3000',
 'Torre Milenium · Av. Francisco de Orellana, junto al World Trade Center, Guayaquil',
 'Urbanización Arboletta',
 'Urbanización Costabrisa',
 'Valle Norte · km. 6 Vía a Salitre , Sector Daule',
 'Valles de Beata Proyecto · Km 15 vía a Daule, Guayaquil',
 'Villa Alta',
 'Villa Blanca · Chongon, Km. 24 Vía a la Costa',
 'Ágora Ciudad Médica · Av. Joaquín Orrantia y la Av. Abel Romeo Castillo, Guayaquil'}

In [39]:
dfGYE.drop(columns=['ubicacion'], inplace=True)
dfQUI.drop(columns=['ubicacion'], inplace=True)

In [40]:
dfGYE

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud
0,Departamento,Departamento en venta en Guayaquil,125000,138,-2.166655596557214,-79.94505538163074
1,Local,Local en venta en Garzota,2760000,2083,-2.146510773974535,-79.8867829184118
2,Oficina/Consultorio,Oficina/Consultorio en venta en Norte De Guaya...,90000,55,-2.154740793738683,-79.89019224324029
3,Casa,Casa en venta en Guayaquil,398000,348,-2.166655596557214,-79.94505538163074
4,Departamento,Departamento en venta en Via A La Costa,159000,131,-2.188389543915323,-80.02724894488654
...,...,...,...,...,...,...
8227,Casa,Casa en venta en Norte De Guayaquil,51500,140,Nada,None
8228,Lote,Lote en venta en Guayaquil,220000,300,-2.189406038591932,-79.8890825847566
8229,Casa,Casa en venta en Norte De Guayaquil,84500,90,-2.096895591711425,-79.94287022431827
8230,Departamento,Departamento en venta en Samborondon,280000,157,Nada,None
8231,Lote,Lote en venta en Centro De Guayaquil,2760000,697300,-2.218852491282371,-79.88865209602973

In [41]:
dfQUI

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud
3,Departamento,Departamento,109000,64,-0.1770385300866455,-78.49399653706182
43,Departamento,Departamento,149000,65,-0.1725681817742039,-78.47566025947516
52,Casa,Casa,9700300,77,-0.1630673934497233,-78.47727902078219
53,Casa,Casa,1250000,180,-0.1736660629096703,-78.47580559956963
91,Casa,Casa,114040,127,-0.2027891014801405,-78.38446012263535
...,...,...,...,...,...,...
9508,Departamento,Departamento,130000,94,-0.2010796210530327,-78.49462313695483
9509,Departamento,Departamento,113500,48,-0.08761245909093539,-78.46893007528706
9510,Casa,Casa,199000,180,Nada,None
9511,Departamento,Departamento,170000,170,-0.1749079959677702,-78.48059979879775
9513,Departamento,Departamento,135000,81,Nada,None

In [46]:
pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 4.2 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 68.4 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 354 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [47]:
import geopandas as gpd
from shapely.geometry import Point

In [48]:
path_DV2 = '/content/drive/MyDrive/Proyecto Introduccion a la Ciencia de Datos/data/map.geojson'
posicion_sect = gpd.read_file(path_DV2)

In [62]:
def find_sector(x):
  if(x['latitud']!='Nada'):
    pos_frame = posicion_sect.loc[posicion_sect['geometry'].contains(Point(float(x['longitud']),float(x['latitud'])))]
    if pos_frame.shape[0] == 1:
      return pos_frame.reset_index()['Name'][0]
    else:
      return 'Desconocido'
  else:
    return 'Desconocido'

In [63]:
dfGYE['Nombre_sector'] = dfGYE.apply(find_sector,axis=1)

In [64]:
dfQUI['Nombre_sector'] = dfQUI.apply(find_sector,axis=1)

In [94]:
Lista_sectores = ['Abel Gilbert', 'Acacias', 'Academia Logos', 'Alborada', 'Arcadia',
       'Argelia', 'Atahualpa', 'Atarazana', 'Balerio Estacio', 'Barrio Lindo',
       'Bastion Popular', 'Batallon del Suburbio', 'Belisario Quevedo',
       'Bellavista', 'Carcelen', 'Centro Historico', 'Cerro San Eduardo',
       'Cerro del Carmen', 'Chillogallo', 'Chimbacalle',
       'Ciudadela 9 de Octubre', 'Colinas de la Florida', 'Comite del Pueblo',
       'Condor', 'Cooperativa 5 de Diciembre', 'Cotocollao',
       'Cristo del Consuelo', 'El Fortin', 'El Inca', 'El Pintado', 'El Rio',
       'El condado', 'Estero Salado', 'Febres Cordero', 'Flor de Bastion',
       'Floresta', 'Florida', 'Garzota', 'Guamani', 'Guanguala',
       'Guasmo Norte - Rio Guayas', 'Guasmo Oeste', 'Guasmo Sur',
       'Guasmo Sur - La Union', 'Guayacanes', 'Huancavilca Norte',
       'Isla Trinitaria', 'Iñaquito', 'Juan Montalvo', 'La Ecuatoriana',
       'La Ferroviaria', 'La Luz', 'La Mena', 'La Paz', 'La Tola',
       'La Vicentina', 'Las Americas', 'Los Esteros',
       'Lotizacion Industrial Pascuales', 'Luz del Guayas', 'Mapasingue',
       'MarcoPamba', 'Mariscal Sucre', 'Monte Sinai', 'Mucho Lote',
       'Nueva Prosperina', 'Orquideas', 'Parroquia Garcia Moreno',
       'Parroquia Letamendi', 'Parroquia Sucre', 'Parroquia Urdaneta',
       'Pascuales', 'Ponceano', 'Pradera', 'Prosperina', 'Puerto Lisa',
       'Quitumbe', 'Rosales', 'Samanes', 'San Bartolo', 'San Carlos',
       'San Francisco', 'San Isidro del Inca', 'San Juan', 'Santa Anita',
       'Santa Isabel', 'Santa Maria de Cotocollao', 'Santa Rita', 'Sauces',
       'Sergio Toral', 'Solanda', 'TerraNostra', 'Turubamba', 'Urbanor',
       'Urdenor', 'Vergeles', 'Vista Sol']

In [95]:
datos_nulosG = dfGYE.loc[dfGYE['Nombre_sector'] == 'Desconocido']
datos_nulosQ = dfQUI.loc[dfQUI['Nombre_sector'] == 'Desconocido']

In [110]:
datos_nulosQ

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud,Nombre_sector
3,Departamento,Departamento,109000,64,-0.1770385300866455,-78.49399653706182,Desconocido
91,Casa,Casa,114040,127,-0.2027891014801405,-78.38446012263535,Desconocido
92,Casa,Casa,87000,98,Nada,None,Desconocido
93,Casa,Casa,119900,81,Nada,None,Desconocido
94,Departamento,Departamento,115000,67,Nada,None,Desconocido
...,...,...,...,...,...,...,...
9504,Lote,Lote,148000,2210,-0.00274498016516693,-78.45597126815956,Desconocido
9505,Departamento,Departamento,249144,146,-0.1467189549185529,-78.46938485605214,Desconocido
9507,Departamento,Departamento,80194,82,Nada,None,Desconocido
9510,Casa,Casa,199000,180,Nada,None,Desconocido
9513,Departamento,Departamento,135000,81,Nada,None,Desconocido

In [99]:
df_nulosG = pd.DataFrame()

In [100]:
for k in Lista_sectores:
  numS = datos_nulosG['Descripcion_1'].str.contains(k,case = False).sum()
  if(numS > 0):
    aux1 = datos_nulosG.loc[datos_nulosG['title'].str.contains(k,case = False)]
    aux1['Nombre_sector'] = k
    if(df_nulosG.shape[0]==0):     
      df_nulosG = aux1
    else:
      df_nulosG = pd.concat([df_nulosG,aux1])
  else:
    numS2 = datos_nulosG['Descripcion_2'].str.contains(k,case = False).sum()
    if(numS2 > 0):
      aux2 = datos_nulosG.loc[datos_nulosG['Descripcion_2'].str.contains(k,case = False)]
      aux2['Nombre_sector'] = k
      if(df_nulosG.shape[0]==0):     
        df_nulosG = aux2
      else:
        df_nulosG = pd.concat([df_nulosG,aux2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
df_nulosG

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud,Nombre_sector
69,Casa,Casa en venta en Bellavista,140000,145,-2.175684696737758,-79.91259385589224,Bellavista
155,Casa,Casa en venta en Bellavista,150000,200,-2.187353032240785,-79.90316871427274,Bellavista
335,Casa,Casa en venta en Bellavista,95000,109,-2.184628940946538,-79.90074068893999,Bellavista
997,Casa,Casa en venta en Bellavista,69000,135,-2.184628940946538,-79.90074068893999,Bellavista
1312,Casa,Casa en venta en Bellavista,95000,109,-2.184628940946538,-79.90074068893999,Bellavista
...,...,...,...,...,...,...,...
7060,Casa,Casa en venta en Samanes,110000,150,Nada,None,Samanes
7380,Casa,Casa en venta en Samanes,128000,128,Nada,None,Samanes
8064,Casa,Casa en venta en Samanes,128000,118,Nada,None,Samanes
4162,Via A La Costa,"Terranostra Departamentos · Km 14, Vía La Cost...",148364,99,Nada,None,TerraNostra
4164,Via A La Costa,"Galerias Terranostra · KM 13-14, Vía La Costa,...",88066,43,Nada,None,TerraNostra

In [105]:
df_nulosQ = pd.DataFrame()

In [106]:
for k in Lista_sectores:
  numS = datos_nulosQ['Descripcion_1'].str.contains(k,case = False).sum()
  if(numS > 0):
    aux1 = datos_nulosQ.loc[datos_nulosQ['Descripcion_1'].str.contains(k,case = False)]
    aux1['Nombre_sector'] = k
    if(df_nulosQ.shape[0]==0):     
      df_nulosQ = aux1
    else:
      df_nulosQ = pd.concat([df_nulosQ,aux1])
  else:
    numS2 = datos_nulosQ['Descripcion_2'].str.contains(k,case = False).sum()
    if(numS2 > 0):
      aux2 = datos_nulosQ.loc[datos_nulosQ['Descripcion_2'].str.contains(k,case = False)]
      aux2['Nombre_sector'] = k
      if(df_nulosQ.shape[0]==0):     
        df_nulosQ = aux2
      else:
        df_nulosQ = pd.concat([df_nulosQ,aux2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [109]:
df_nulosQ.shape

(34, 7)

In [111]:
#######################

In [112]:
datosNo_nulosG = dfGYE.loc[dfGYE['Nombre_sector'] != 'Desconocido']
datosNo_nulosQ = dfQUI.loc[dfQUI['Nombre_sector'] != 'Desconocido']

In [114]:
datosNo_nulosG2 = pd.concat([datosNo_nulosG,df_nulosG])
datosNo_nulosQ2 = pd.concat([datosNo_nulosQ,df_nulosQ])

In [115]:
datosNo_nulosG2

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud,Nombre_sector
0,Departamento,Departamento en venta en Guayaquil,125000,138,-2.166655596557214,-79.94505538163074,Ceibos
1,Local,Local en venta en Garzota,2760000,2083,-2.146510773974535,-79.8867829184118,Garzota
2,Oficina/Consultorio,Oficina/Consultorio en venta en Norte De Guaya...,90000,55,-2.154740793738683,-79.89019224324029,Ciudadela Vernaza
3,Casa,Casa en venta en Guayaquil,398000,348,-2.166655596557214,-79.94505538163074,Ceibos
6,Departamento,Departamento en venta en Puerto Santa Ana,189000,80,-2.179125941420345,-79.87611984147239,Puerto Santa Ana
...,...,...,...,...,...,...,...
7060,Casa,Casa en venta en Samanes,110000,150,Nada,None,Samanes
7380,Casa,Casa en venta en Samanes,128000,128,Nada,None,Samanes
8064,Casa,Casa en venta en Samanes,128000,118,Nada,None,Samanes
4162,Via A La Costa,"Terranostra Departamentos · Km 14, Vía La Cost...",148364,99,Nada,None,TerraNostra
4164,Via A La Costa,"Galerias Terranostra · KM 13-14, Vía La Costa,...",88066,43,Nada,None,TerraNostra

In [116]:
datosNo_nulosQ2

,Descripcion_1,Descripcion_2,precio,mt2,latitud,longitud,Nombre_sector
43,Departamento,Departamento,149000,65,-0.1725681817742039,-78.47566025947516,Iñaquito
52,Casa,Casa,9700300,77,-0.1630673934497233,-78.47727902078219,El Inca
53,Casa,Casa,1250000,180,-0.1736660629096703,-78.47580559956963,Iñaquito
101,Departamento,Departamento,159089,564,-0.1930361210690102,-78.50000235611381,Belisario Quevedo
114,Local,Local,1800000,2840,-0.1772866036606028,-78.4747248227789,Iñaquito
...,...,...,...,...,...,...,...
7065,Ponceano,Ponceano,165000,172,-0.2217637477046961,-78.38721350452586,Ponceano
7668,Ponceano,Ponceano,68263,50,Nada,None,Ponceano
6800,Quitumbe,Quitumbe,63802,75,Nada,None,Quitumbe
6844,Quitumbe,Quitumbe,63802,75,Nada,None,Quitumbe
6926,Quitumbe,Quitumbe,63802,75,Nada,None,Quitumbe

In [125]:
datosNo_nulosG2.to_csv('NEWDATAG.csv',index=False)

In [126]:
datosNo_nulosQ2.to_csv('NEWDATAQ.csv',index=False)

In [119]:
fg = datosNo_nulosG2.groupby('Nombre_sector')['precio'].count().reset_index()

In [121]:
fq = datosNo_nulosQ2.groupby('Nombre_sector')['precio'].count().reset_index()